*{
	margin:0;
	padding:0;
}	
body{
	background:#55ff5d;
	font-size:14px;
	font-family: 'Poppins', sans-serif;
}
 .container{
	 width:80%;
	 margin:50px auto;
	
}
.contact-box{
	
	background:rgb(255, 255, 255);
	display:flex;
}
.contact-left{
	flex-basis:60%;
	padding:100px 60px;
	
}
.contact-left{
	flex-basis:50%;
	padding:50px ;
	background:#001bb5;
	color:#fff;
}
.contact-right{
	flex-basis:50%;
	padding:100px 60px;
	
}
.contact-right{
	flex-basis:50%;
	padding:50px ;
	background:#00b5b2;
	color:#fff;
}

h1{
	margin-bottom:10px;
}

container padding{
	margin-bottom:40px;
	
}
.input-row{
	display: flex;
	justify-content: space - between;
	margin-bottom: 20px;
}

.input-row .input-group{
	
	flex-basis:45%;
}
.input{
	width:100%;
	border :none;
	border-bottom: 1px solid #ccc;
	outline:none;
	padding-bottom:5px;
}
.textarea{
	width :width :100%;
	border :1px solid #ccc;
	outline:none;
	padding-bottom:10px;
	box-sizing:border -box;
}
.label{
margin-bottom:6px;
display:block;
color:#1c00b5;
}

button{
	background:#ic00b5;
	width:100px;
	border:none;
	outline :none;
	color:black;
	height:35px;
	border-radius:30px;
	margin-top:px;
	box-shadow:0px 5px 15 px 0px rgba(8,0,181,0.3) ;
	
	
}
tr td:first-child{
	padding-right:20px;
}
tr td{
padding-top:20px
}
body { 
    background-image: url("../images/background.jpg");
}
ul.menu {
	list-style-type:none;
	margin:0;
	padding:0;
	background-color:#333;
	overflow:hidden;
}
li.menu{
	float:left;
}
li a{
	display:block;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}
	
li a:hover{
	background-color:rgb(149, 0, 255);
}
.logo{
	display : block;
	margin-left:auto;
	margin-right:auto;
}


.body{
	display : block;
	margin-left:auto;
	margin-right:auto;
}
.wrapper {
    height: 400px;
    width: 300px;
    display: flex;
    align-items: flex-end;
}